
@{
    ViewBag.Title = "ViewAccounts";
}


<style>
    .loginPage {

    }

    html {
        height: 100%;
    }

    body {
        height: 100%;
        background-image: linear-gradient(140deg, #9d2c9e 0%, #f68084 100%);
    }

    .soqlBox {

        width: 500px;
    }

    .textBox {
        width: 100%;
    }

    .form-signin {
        padding: 15px;
    }

    .box {
        width: 40%;
        max-width: 60%;
    }

    .my-custom-scrollbar {
        position: relative;
        height: 300px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>




<div class="container-fluid bg-light shadow-sm rounded-3">
    <div class="row text-center mx-auto p-3 justify-content-center align-items-center">


        @*<div class="loginPage row box">*@


            @*<div class="form-signin rounded container-fluid shadow-sm p-5 text-center">

                <img class="me-3" src="~/Content/Images/Salesforceicon.png" alt="" width="100" height="100">


                <h5 class="pt-3">Accounts Available to Query</h5>


                <div class="form-group pt-1">
                    @Html.DropDownList("AccountNamelist", ViewBag.accountNameList as SelectList, "Please Select Account", new { @class = "form-select mx-auto" })

                </div>



            </div>*@



        @*</div>*@



        @*Fields Box*@


        <div class="form-signin col-lg-auto rounded box  mx-3  text-center">

            <img class="me-3" src="~/Content/Images/Salesforceicon.png" alt="" width="100" height="100">


            <h5 class="pt-3">Available fields:</h5>
            @*<p class="lead ">@ViewBag.Message</p>*@


            <div id="myDIV">
                <div class="form-group pt-1 table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Field</th>
                                <th scope="col">Type</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.FieldName</td>
                                    <td>@item.FieldType</td>
                                </tr>

                            }



                        </tbody>
                    </table>
                </div>

            </div>


        </div>




        @* Soql box *@

        <div class="col-lg-auto">

            <div class="soqlBox align-middle mt-5 mx-5">

                @using (Html.BeginForm("SOQLResult", "Query", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()


                <form class="align-middle">
                    <h5 class="text-center pb-2">SOQL box</h5>

                    <p>Please input the fields you would like to Query. <br /> Enter the field as written on the left, delimited by spaces  </p>
                    <div class="mt-5 ">

                        @Html.TextArea("Query", new { @class = "textBox text-center", @placeholder = "Id Name Type" })

                        <div class=" text-center">
                            <input type="submit" value="Execute" class="btn text-center mt-2  pt-2" style="background-color: #9d2c9e; color: white">
                        </div>
                    </div>

                </form>

                }



            </div>

        </div>



    </div>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script>
            function getValue() {
                var select = document.getElementById('FieldNamelist');
                var option = select.options[select.selectedIndex];

            }










            function loadTable() {



                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

        </script>


    }


